<div class="recipe-filter" *ngIf="loaded && _recipes.length">
    <div class="filter">
        <label for="recipesFilter">Show:</label>
        <select id="recipesFilter" #filter (change)="_filterChanged(filter.value)">
            <option value="">All Recipes</option>
            <option *ngFor="let cat of _categories">{{ cat }}</option>
        </select>
    </div>
</div>
<div class="recipe-list">
    <div class="recipe-card" *ngFor="let recipe of recipes"
        title="View Recipe: {{ recipe.name }}"
        (click)="viewRecipe(recipe.id)">
        <h3>{{ recipe.name }} <span>{{ recipe.category }}</span></h3>
        <img *ngIf="recipe.imageData !== ''" src="{{ recipe.imageData }}">
        <p *ngIf="recipe.description !== ''">{{ recipe.description }}</p>
        <p class="times">
            <span class="center">Total Recipe Time: {{ _utils.getTimeString(_num(recipe.prepTime) + _num(recipe.cookTime)) }}</span>
            Prep Time: {{ _utils.getTimeString(_num(recipe.prepTime)) }}
            <span>Cook Time: {{ _utils.getTimeString(_num(recipe.cookTime)) }}</span>
        </p>
    </div>
    <div class="recipe-card center center-text" *ngIf="loaded && _recipes.length === 0"
        (click)="addRecipe()">
        <h3>No Recipes Found</h3>
        <p>Click this card to add one.</p>
    </div>
</div>
