<div class="recipe-detail center-text" *ngIf="_loading">
    Loading Recipe Details...
</div>
<div class="recipe-detail" *ngIf="!_loading">
    <h2>{{ _recipe.name }} <span>{{ _recipe.category }}</span></h2>
    <p class="description" [innerHtml]="_recipe.description | br"></p>
    <p class="image">
        <img *ngIf="_recipe.imageData !== ''" src="{{ _recipe.imageData }}">
    </p>
    <div class="times-and-ingredients">
        <div class="times">
            <p>Prep Time: {{ _utils.getTimeString(_num(_recipe.prepTime)) }}
            <span>Cook Time: {{ _utils.getTimeString(_num(_recipe.cookTime)) }}</span></p>
            <p>Total Recipe Time: {{ _utils.getTimeString(_num(_recipe.prepTime) + _num(_recipe.cookTime)) }}</p>
        </div>
        <div class="ingredients">
            <h3>Ingredients</h3>
            <p *ngFor="let ingredient of _recipe.ingredients">
                <span class="name">{{ ingredient.name }}</span>
                <span class="amount">{{ ingredient.amount }}</span>
                <span class="measure">{{ ingredient.measure }}</span>
            </p>
        </div>
    </div>
    <div class="directions">
        <h3>Directions</h3>
        <p [innerHtml]="_recipe.directions | br"></p>
    </div>
</div>
<nav class="detail-nav" *ngIf="!_loading">
    <ul>
        <li><a (click)="editRecipe()" href="#">Edit</a></li>
        <li><a (click)="deleteRecipe()" href="#">Delete</a></li>
    </ul>
</nav>
