<div>
    <form (ngSubmit)="onSubmit()" #recipeForm="ngForm">
        <h1>{{ _isEdit ? 'Edit' : 'Add' }} Recipe <span> = required field</span></h1>
        <div class="form-section">
            <div class="form-item">
                <label for="recipeName">Name</label>
                <input id="recipeName" type="text" required autofocus
                    [(ngModel)]="_model.name"
                    ngControl="name" #name="ngForm">
            </div>
            <div class="form-item">
                <label for="category">Category</label>
                <select id="category" required
                    [(ngModel)]="_model.category">
                    <option *ngFor="let cat of _categories">{{ cat }}</option>
                </select>
            </div>
        </div>

        <div class="form-section">
            <div class="form-item">
                <label for="prepTime">Prep Time (minutes)</label>
                <input id="prepTime" type="number" step="any" required class="thin"
                    [(ngModel)]="_model.prepTime"
                    ngControl="prepTime" #prepTime="ngForm">
            </div>
            <div class="form-item">
                <label for="cookTime">Cook Time (minutes)</label>
                <input id="cookTime" type="number" step="any" required class="thin"
                    [(ngModel)]="_model.cookTime"
                    ngControl="cookTime" #cookTime="ngForm">
            </div>
        </div>

        <div class="form-section">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="_model.description" rows="2"></textarea>
        </div>

        <div class="form-section">
            <h4>Ingredients:</h4>
            <div class="ingredient-row"
                *ngFor="let ingredient of _model.ingredients; let i = index; let last = last">
                <div class="ingredient-item">
                    <label attr.for="name{{i}}">Name</label>
                    <input #name id="name{{i}}" type="text" required
                        [(ngModel)]="_model.ingredients[i].name">
                </div>
                <div class="ingredient-item">
                    <label attr.for="amount{{i}}">Amount</label>
                    <input id="amount{{i}}" type="number" step="any" required min="0.1"
                        [(ngModel)]="_model.ingredients[i].amount">
                </div>
                <div class="ingredient-item">
                    <label attr.for="measure{{i}}">Measure</label>
                    <input id="measure{{i}}" type="text" required
                        placeholder="Cups, Tbsp, tsp, etc."
                        [(ngModel)]="_model.ingredients[i].measure">
                </div>
                <div class="ingredient-item" *ngIf="!last">
                    <button (click)="removeIngredient(i)"
                        title="Remove Ingredient">-</button>
                </div>
                <div class="ingredient-item" *ngIf="last">
                    <button (click)="addEmptyIngredient()"
                        title="Add Ingredient">+</button>
                </div>
            </div>
        </div>

        <div class="form-section">
            <label for="directions">Directions</label>
            <textarea id="directions" [(ngModel)]="_model.directions" rows="5" required></textarea>
        </div>

        <div class="form-section">
            <div class="form-item">
                <label for="image">Image</label>
                <input id="image" type="file" accept="image/*" (change)="fileSelected($event)">
            </div>
            <div class="form-item preview" *ngIf="showPreview && imageLoaded">
                Preview: <img src="{{ _model.imageData }}">
                <button (click)="clearImage()">Clear Image</button>
            </div>
        </div>

        <button type="submit"
            [disabled]="!recipeForm.form.valid || !imageLoaded">
            Save Recipe
        </button>
        <button [disabled]="!recipeForm.form.valid || !imageLoaded"
            (click)="onSubmit(false)" *ngIf="!_isEdit">
            Save and New Recipe
        </button>
        <button (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>
