nav {
    @include shadow-low;
    @include clearfix;

    background-color: $color-primary;
    margin-bottom: 1em;

    a {
        background-image: none;
        color: $white;
        text-shadow: none;

        &:hover {
            color: $color-secondary;
        }

        &.router-link-active {
            color: $color-secondary;
        }
    }

    ul {
        list-style: none;
        margin-top: 1.3em;
        padding: 0;

        @include media($small) {
            @include span-columns(6 of 6);
            @include omega;
        }

        @include media($medium) {
            @include span-columns(6 of 12);
        }

        @include media($large) {
            @include span-columns(12 of 18);
        }

        li {
            float: left;
            padding: 0 1em;
        }
    }

    &.detail-nav {
        margin-bottom: 0;
        padding: 1em;

        ul {
            margin: 0;
        }
    }
}
