.recipe-detail {
    @include shadow-low;
    @include row;

    margin-bottom: 1em;
    padding: 1em;

    h2 {
        margin-top: 0;

        span {
            float: right;
        }
    }

    h3 {
        margin-top: 0;
    }

    .description {
        margin-bottom: 0;
    }

    .times-and-ingredients {
        @include media($large) {
            @include span-columns(9 of 18);
            @include shift(-18 of 18);
        }

        @include media($small) {
            @include span-columns(6 of 6);
        }

        @include media($medium) {
            @include span-columns(12 of 12);
        }
    }

    .times {
        font-size: .8em;

        @include media($small) {
            text-align: center;
        }

        @include media($medium) {
            text-align: center;
        }

        span {
            margin-left: 2em;
        }

        p:first-of-type {
            margin-bottom: 0;
        }

        p:last-of-type {
            font-weight: 700;
            margin-top: 0;
        }
    }

    .ingredients {
        p {
            font-size: .9em;
        }

        .name {
            @include media($small) {
                @include span-columns(3 of 6);
            }

            @include media($medium) {
                @include span-columns(6 of 12);
            }

            @include media($large) {
                @include span-columns(6 of 9);
            }
        }

        .amount {
            font-weight: 700;
            text-align: right;

            @include media($small) {
                @include span-columns(2 of 6);
            }

            @include media($medium) {
                @include span-columns(4 of 12);
            }

            @include media($large) {
                @include span-columns(1 of 9);
            }
        }

        .measure {
            @include omega;

            font-weight: 700;

            @include media($small) {
                @include span-columns(1 of 6);
            }

            @include media($medium) {
                @include span-columns(2 of 12);
            }

            @include media($large) {
                @include span-columns(2 of 9);
            }
        }
    }

    .image {
        text-align: center;

        @include media($large) {
            @include span-columns(9 of 18);
            @include shift(9 of 18);
        }

        img {
            max-height: 250px;
            max-width: 100%;
        }
    }

    .directions {
        @include media($small) {
            @include span-columns(6 of 6);
        }

        @include media($medium) {
            @include span-columns(12 of 12);
        }

        @include media($large) {
            @include span-columns(18 of 18);
        }

        p {
            margin-bottom: 0;
            white-space: pre-wrap;
        }
    }
}
